# позволяет управлять браузером и автоматизировать действия на веб-страницах через Python
selenium == 4.39.0

# фреймворк для написания и запуска тестов с отчётами и удобной структурой
pytest == 9.0.2

# автоматически скачивает и обновляет драйверы браузеров для Selenium   
webdriver-manager == 4.0.2
